.combobox {
    font-size: 13px;
    box-sizing: border-box;
    display: flex;
    cursor: pointer;
    position: relative;
}

.combobox__control {
    background-color: #ffffff;
    border-radius: 3px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
}

.combobox__width {
    width: 100%;
    position: relative;
}

.combobox__icon--left {
    background-repeat: no-repeat;
}

.m-row__form .combobox__input {
    padding-left: 20px !important;
    width: 100%;
    min-width: 219px;
}

.m-row__form .combobox {
    margin-right: 10px;
}

.combox--number {
    height: 25px;
    width: 100px;
    box-sizing: border-box;
    margin: 0 18px 0 0;
}

.combobox__input--number {
    width: 100% !important;
    border: none !important;
    height: 100% !important;
}

.combobox__icon {
    position: absolute;
    right: 15px;
    z-index: 100000;
}

.combobox__option {
    width: 100%;
    background-color: #f9fafc;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 5px;
    z-index: 999999;
    position: absolute;
    top: 90%;
    height: 150px;
    overflow: auto;
}

.combobox__option--item {
    border-radius: 3px;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
}

.combobox__option--item:hover {
    background-color: rgb(26 164 200 / 12%);
}

.combobox__option--active {
    background-color: rgba(26, 164, 200, .2);
}

.combobox__option--item-text {
    padding-left: 30px;
    padding-right: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.location-icon {
    position: absolute;
    left: 10px;
}

.combobox__option--item-icon {
    position: absolute;
    left: 8px;
}

.combobox__option--table {
    width: 100%;
    overflow: auto;
    height: 150px;
}

.combobox__table--header tr {
    background-color: #87d3e7 !important;
}

.remove__Combobox {
    width: 100% !important;
    overflow: hidden;
    border: 1px solid #afafaf;
}

.input-date {
    border: 1px solid #afafaf !important;
}

.input-date:focus {
    border-color: #1aa4c8 !important;
}

.input-date:focus-visible {
    outline: none;
}

.combobox_quantity {
    margin-top: -80px;
    top: 0% !important;
    height: 75px;
    width: 80% !important;
}

@media only screen and (max-width: 1024px) {
    .m-row__form .combobox__input {
        min-width: unset;
    }
}